@main(title="Where") {

<!-- container -->
<div class="container">
<div class="row">
	<div class="twelve columns">
		<h2>Deets</h2>
	</div>
</div>

<div class="row">
	<div class="eight columns">
		<p>This year's trip is in Heavenly, South Lake Tahoe, from Friday February 17 to Monday February 20.</p>
		<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3779+Overlook+Court,+South+Lake+Tahoe,+CA+96150&amp;aq=&amp;sll=35.960223,-84.462891&amp;sspn=36.452792,74.794922&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=3779+Overlook+Ct,+South+Lake+Tahoe,+California+96150&amp;ll=38.942484,-119.947714&amp;spn=0.020094,0.035062&amp;t=p&amp;z=14&amp;output=embed"></iframe>
	</div>
	<div class="four columns">
		<div class="panel">
			<h4>Where:</h4>
			<p>
				3779 Overlook Court<br />
				South Lake Tahoe, CA 96150
			</p>
			<p>
				<a href="http://maps.google.com/maps?q=3779+Overlook+Court,+South+Lake+Tahoe,+CA+96150&hl=en&sll=35.960223,-84.462891&sspn=36.452792,74.794922&vpsrc=0&hnear=3779+Overlook+Ct,+South+Lake+Tahoe,+California+96150&t=p&z=15" target="_blank" class="nice radius button full-width">open in Google Maps</a>
			</p>
		</div>
		
		<div class="panel">
			<h4>When:</h4>
			<h5>February 2012</h5>
			<table class="calendar">
				<tr>
					<th>SUN</th>
					<th>MON</th>
					<th>TUE</th>
					<th>WED</th>
					<th>THU</th>
					<th>FRI</th>
					<th>SAT</th>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
				</tr>
				<tr>
					<td>12</td>
					<td>13</td>
					<td>14</td>
					<td>15</td>
					<td>16</td>
					<td>17</td>
					<td>18</td>
				</tr>
				<tr>
					<td>19</td>
					<td>20</td>
					<td>21</td>
					<td>22</td>
					<td>23</td>
					<td>24</td>
					<td>25</td>
				</tr>
				<tr>
					<td>26</td>
					<td>27</td>
					<td>28</td>
					<td>29</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<p><a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Freezing%20Man%202012&dates=20120217T230000Z/20120220T190000Z&details=&location=Heavenly%2C%20South%20Lake%20Tahoe%2C%20CA&trp=true&sprop=http%3A%2F%2Ffrzng.com%2F&sprop=name:Freezing%20Man" target="_blank" class="nice radius button full-width">add to Google Calendar</a></p>
		</div>
	</div>
</div>

</div>
<!-- container -->

}